<!-- FOOTER -->
<footer id="footer">
    <!-- top footer -->
    <div class="section">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">

                <div class="col-md-12 col-xs-6">
                    <div class="footer">
                        <h3 class="footer-title">About Us</h3>
                        <p style="text-align: justify;">We strive to offer book enthusiasts the best possible buying
                            experience
                            - this includes an industry-leading customer service,
                            free shipping and access to the most sought-after books on the market.</p><br>
                            <ul class="header-links" style="text-align: center ;">
                                <li><a ><i class="fa fa-phone"></i> 0 232 232 23 23</a></li>
                                <li><a ><i class="fa fa-envelope-o"></i>ceyda.koc@ceng.deu.edu.tr - evren.ozlu@ceng.deu.edu.tr</a></li>
                                <li><a ><i class="fa fa-map-marker"></i>Dokuz Eylul University</a></li>
                            </ul>
                    </div>
                </div>
                <div style="text-align: center; font-size: 10px; margin: auto;">© 2020 Cey & Evo.  All rights reserved. </div>

                <div class="clearfix visible-xs"></div>

            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
    <!-- /top footer -->

    <!-- bottom footer -->

    <!-- /bottom footer -->
</footer>
<!-- /FOOTER -->