<head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
    <div class="container">

        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-6">
                        <h2>Delete / View <b>Orders</b></h2>
                    </div>
                    <div class="col-sm-6">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <div class="header-search">
                        <select class="input-select" (change)="filterBy()" [(ngModel)]="selectedOption">
                            <option value="all" selected>All Fields</option>
                            <option value="id">Id</option>
                            <option value="userId">User Id</option>
                            <option value="username">Username</option>
                            <option value="total">Total</option>
                            <option value="date">Date</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-9">
                    <div class="header-search">
                        <input class="input" type="text" placeholder="Filter by text" [(ngModel)]="searchText"
                            name="something">
                    </div>
                </div>
            </div>

            <br><br>
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Date</th>
                        <th>User Id</th>
                        <th>Username</th>
                        <th>Total</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr
                        *ngFor="let o of orders | reverse | advancedFilter: searchText : keysToInclude | paginate: { itemsPerPage: 9, currentPage: p }">
                        <td>{{o.id}}</td>
                        <td>{{o.date}}</td>
                        <td>{{o.user_id}}</td>
                        <td>{{o.username}}</td>
                        <td>{{o.total}}</td>
                        <td>
                            <a href="#showOrderDetailsModal" class="edit" data-toggle="modal"><i class="material-icons"
                                    data-toggle="tooltip" title="Edit" (click)="getShowOrderId(o.id)">&#xE417;</i></a>
                            <a href="#deleteOrderModal" class="delete" data-toggle="modal"><i class="material-icons"
                                    data-toggle="tooltip" title="Delete"
                                    (click)="getDeleteOrderId(o.id)">&#xE872;</i></a>
                        </td>
                    </tr>

                </tbody>
            </table>

        </div>
        <pagination-controls (pageChange)="p = $event" class="pagination"></pagination-controls>
    </div>

    <!-- Show Modal HTML -->

    <div id="showOrderDetailsModal" class="modal fade">
        <div class="modal-dialog" style="max-width: 60%; width: 60%;">
            <div class="modal-content" style="font-size: 15px;">
                <div class="modal-body" style="max-height: 600px; overflow-y: auto;">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Product Id</th>
                                <th>Image</th>
                                <th>Title</th>
                                <th>Price</th>
                                <th>Quantity</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let p of products">
                                <td>{{p.product_id}}</td>
                                <td>
                                    <img [src]="p.image" alt="{{p.title}}" class="img-thumbnail" width="100px">
                                </td>
                                <td>{{p.title}}</td>
                                <td>{{p.price | currency:'₺'}}</td>
                                <td>{{p.quantityOrdered}}</td>
                            </tr>
    
                            <tr class="border-0">
                                <td style="border: none;"></td>
                                <td></td>
                                <td>TOTAL</td>
                                <td>{{cartTotal | currency:'₺'}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <input type="submit" class="btn btn-danger" data-dismiss="modal" value="OK">
                </div>
            </div>
        </div>
    </div>
   
    <!-- Delete Modal HTML -->
    <div id="deleteOrderModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <form>
                    <div class="modal-header">
                        <h4 class="modal-title">Delete Order</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    </div>
                    <div class="modal-body">
                        <p>Are you sure you want to delete this order?</p>
                        <p class="text-warning"><small>This action cannot be undone.</small></p>
                    </div>
                    <div class="modal-footer">
                        <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
                        <input type="submit" class="btn btn-danger" data-dismiss="modal" value="Delete"
                            (click)="deleteOrder()">
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>