<div class="container emp-profile">
  <form novalidate>
    <div class="row">
      <!-- Left Side-->
      <div class="col-md-4">
        <div class="profile-img">
          <img [src]="myUser?.photoUrl" alt="{{myUser?.firstName || myUser?.fname}}" style="width:100%;" />
        </div>
        <div>
          <br><br>
          <button  *ngIf = "myUser.type === 'local'" (click)="deleteAccount(myUser.userId || myUser.id)" class="btn btn-danger btn-sm" name="btnAddMore" type="button"
            style="float: left;">Delete Account</button>
          <button (click)="logout()" class="btn btn-danger btn-sm" name="btnAddMore" type="button"
            style="float: right;">Logout</button>
        </div>
      </div>
      <!--Left Side -->
      <div class="col-md-6">
        <div class="profile-head">
          <h5>
            {{myUser?.name || (myUser.fname + ' ' + myUser.lname)}}
          </h5>
          <nav id="navigation" style="border-top: none;">
            <!-- container -->
            <div class="container" style="height: 60px;">
              <div id="responsive-nav">
                <ul class="main-nav nav py-1" style="margin-left: -3%;">
                  <li><a aria-controls="home" aria-selected="true" class="nav-link active" data-toggle="tab"
                      href="#home" id="home-tab" role="tab">About</a></li>

                  <li><a aria-controls="profile" aria-selected="false" class="nav-link" data-toggle="tab"
                      href="#profile" id="profile-tab" role="tab">Edit Profile</a></li>
                </ul>
              </div>
            </div>
          </nav>
          <br><br>
        </div>
        <div class="tab-content profile-tab" id="myTabContent">
          <div aria-labelledby="home-tab" class="tab-pane fade show active" id="home" role="tabpanel">
            <div class="row">
              <div class="col-md-6">
                <label>User Id</label>
              </div>
              <div class="col-md-6">
                <p>{{myUser.id || myUser.userId}}</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <label>Username</label>
              </div>
              <div class="col-md-6">
                <p>{{myUser.name || myUser.username}}</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <label>Email</label>
              </div>
              <div class="col-md-6">
                <p>{{myUser.email}}</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <label>Role</label>
              </div>
              <div class="col-md-6">
                <p>{{myUser.role === 777 ? "Admin" : "Customer"}}</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <label>Account Type</label>
              </div>
              <div class="col-md-6">
                <p>{{myUser.type === "local" ? "Normal" : "Social"}}</p>
              </div>
            </div>
          </div>
          <div aria-labelledby="profile-tab" class="tab-pane fade show passsive" id="profile" role="tabpanel">
            <div class="row">
              <div class="col-md-12">
                <input class="input" type="text" placeholder="Name" name="something" [(ngModel)] = "fname">
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-md-12">
                <input class="input" type="text" placeholder="Surname" name="something" [(ngModel)] = "lname">
              </div>
            </div><br>
            <div class="row">
              <div class="col-md-12">
                <input class="input" type="password" placeholder="New password" name="something" [(ngModel)] = "newPassword">
              </div>
            </div><br>
            <div class="row">
              <div class="col-md-12">
                <input class="input" type="password" placeholder="New password again" name="something" [(ngModel)] = "newPasswordCheck">
              </div>
            </div><br>
            <div class="row"  style="justify-content: center;">
              <div class="cold-md-3">
                <button (click)="updateProfile()" class="btn btn-success btn-sm" name="btnAddMore" type="button">Update Profile</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>