<!-- SECTION -->
<div class="section">
	<!-- container -->
	<div class="container">
		<!-- row -->
		<div class="row">

			<!-- section title -->

			<!-- SEARCH BAR -->
			<div class="col-md-12">
				<div class="header-search">

					<input class="input" type="text" placeholder="Filter by name, category, amount, description etc."
						[(ngModel)]="searchText" name="something">
				</div>
			</div>
			<!-- /SEARCH BAR -->

			<div class="col-md-12">
				<div class="section-title">
					<h3 class="title">Favorite Books</h3>

				</div>
			</div>
			<!-- /section title -->

			<!-- Products tab & slick -->
			<div class="col-md-12">
				<div class="row">

					<div class="col-md-4 col-sm-6"
						*ngFor="let p of products | filter : searchText | paginate: { itemsPerPage: 9, currentPage: p }">
						<div class="card my-2">
							<img [src]="p.image" alt="{{p.name}}" height="500px" width="200px" class="card-img-top"
								(click)="selectProduct(p.id)" style="cursor:pointer;">
							<div class="card-header">
								<div class="card-title">
									<p>{{p.name | titlecase}}</p>
								</div>
							</div>

							<div class="card-body">
								<h6>{{p.description.substr(0, 40)}} ....</h6>
								<p class="lead">{{p.price | currency:'₺'}}</p>
							</div>

							<div class="row d-flex justify-content-center border-primary my-3">
								<div class="col-md-6 ">
									<button class="btn btn-outline-primary btn-sm btn-block"
										[class.disabled]="p.quantity < 1" [class.btn-outline-danger]="p.quantity < 1"
										(click)="AddToCart(p.id)" [disabled]="p.quantity < 1">

										{{ p.quantity < 1 ? "NO STOCK" : "Add To Cart"}}
									</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- Products tab & slick -->
		</div>
		<!-- /row -->
	</div>
	<!-- /container -->
</div>
<!-- /SECTION -->
<pagination-controls (pageChange)="p = $event" class="pagination"></pagination-controls>